body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  color: #f4c2c2;
  margin-bottom: 1%;
  font-size: 30px;
  cursor: pointer;
}

header h1 a {
  text-decoration: none;
  color: #f4c2c2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 33%;
  height: 40%;
  margin-bottom: 2%;
  border: 1.5px solid lightgray ;
  border-radius: 20px;
}

#login_first {
  width: 90%;
  height: 40%;
  margin: 5% auto;
}

#login_first form {
  display: flex;
  flex-direction: column;
  height: 100%; 
  border: 1px solid lightgray;
  border-radius: 20px;
}

#login_first form label {
  height: 100%;
  font-size: 30px;
}

.login_input {
  width: 100%;
  height: 97%;
  border: 1px solid white;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 28px;
  outline: none;
  cursor: pointer;
}

#login_last {
  width: 90%;
  height: 20%;
  margin: 0 auto;
}

.login_button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  background-color: #f4c2c2 ;
  cursor: pointer;
}

#mark{
  position: absolute;
  display: none;
  top: 51%;
  right: 38%;
  background-image: url('../img/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.delete1 {
  position: absolute;
  display: none;
  top: 42%;
  right: 36%;
  background-image: url('../img/delete.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.delete2 {
  position: absolute;
  display: none;
  top: 51%;
  right: 36%;
  background-image: url('../img/delete.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

footer {
  width: 25%;
  margin: 0 auto;
  margin-right: 38%;
  display: flex;
  justify-content: space-between;
}

.login_ft {
  font-size: 20px;
  padding-right: 9%;
  border-right:1px solid gray ;
  cursor: pointer;
}

.login_ft a {
  text-decoration: none;
  color: black;
}

.login_ft:last-child {
  border-right: none;
}

